apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: nodejs-sample
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: nodejs-sample
    app.kubernetes.io/part-of: m4-demo-5
  name: nodejs-sample
  namespace: alexeykazakov
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/instance: nodejs-sample
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: nodejs-sample
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload:alexeykazakov-nodejs-sample
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 3000
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 3000
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
status: {}
